{
    "global_conf": [
        {
            "revert_logs_folder": "revert_logs",
            "assume_role": "sts-role",
            "revert_logs_role": "role",
            "revert_logs_account": "333333",
            "revert_logs_bucket": "bucker_name"
        }  
    ],
    "isolate_instance": [
        {
            "forensics_aws_account": "1111111"
        }  
    ],
    "waf_ipset": [
        {
            "aws_account": "888888",
            "region": "us-east-1",
            "ip_set": "black_list"
        }  
    ],
    "acl_ids": [
        {
            "aws_account": "777777777",
            "region": "us-east-1",
            "acl_id": "acl-70e"
        },
        {
            "aws_account": "777777777",
            "region": "us-east-1",
            "acl_id": "acl-0e47a28"
        },
        {
            "aws_account": "777777777",
            "region": "us-east-1",
            "acl_id": "acl-0f2c"
        }
    ]
}
